{% extends 'core/base.html' %}

{% block content %}
<main class="container">
    {% if back_arg %}
        <a class="btn" href="{% url back_url back_arg %}">← Kembali</a>
    {% else %}
        <a class="btn" href="{% url back_url %}">← Kembali</a>
    {% endif %}

    <div class="card">
        <h2>{{ title }}</h2>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button class="btn" type="submit">Simpan</button>
        </form>
    </div>
</main>
{% endblock %}